.form-in {
        display: grid;
        width: 90%;
        margin: 3rem auto;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 15px;
        box-shadow: 3px 3px 5px rgb(0 0 0 / 5%);
        background: #fff;
        align-items: center;
        align-content: stretch;
}

.form-in .btn {
        margin: 1rem auto;
}

.form-in label {
        margin-top: 0.5rem;
}

@media (min-width: 668px) {
        .form-in {
                width: 60%;
        }
}

@media (min-width: 1024px) {
        .form-in {
                width: 30%;
        }
}
