rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user_id} {
      allow read, create: if request.auth != null;
      allow update: if request.auth.uid == user_id;
    }
    match /Projects/{project_id} {
      allow read, create, update: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.createdBy.id;
    }
  }
}
//The Basic rules
// users collection:
// - any authenticated user can read & create.
// - only users who "created" a document can update it(user id's match).

//Project Collection
// - any authenticated user can read, create, & update a document.
// - only users who "created" a document can delete it.

//Deploy the rules steps:
// in the root directory in a new terminal write:
//firebase deploy --only firestore