/* .users-list {
        right: 0;
        display: flex;
        background: #fbfbfb;
        color: var(--heading-color);
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        flex-wrap: wrap;
        box-shadow: 3px 3px 18px rgb(0 0 0 / 75%);
}
*/
.ON {
        color: green;
        font-size: 30px;
        /* position: relative;
        left: 55px;
        top: 13px;
	*/
}
.user {
        /* display: flex;
        justify-content: flex-end;
        align-items: center;
        border-left: 1px solid #e4e4e4;
        margin-left: 10px; */
}
.user:first-child {
        /* border: none;
        margin-left: 0; */
}
.users-list .avatar {
        max-width: 50px;
}
