.sidebar {
        background-color: var(--primary-color);
        display: grid;
        grid-template-rows: 15% 1fr 10%;
        gap: 5%;
        color: #fff;
}

.welcome {
        display: flex;
        justify-content: center;
        font-weight: bold;
        letter-spacing: 1px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        align-items: center;
        flex-wrap: wrap;
}
.welcome .avatar {
        width: 80%;
}
.side-links {
        display: grid;
        align-items: start;
        padding: 0;
        color: #fff;
}

.side-links li {
        margin-bottom: 1.5rem;
}
.side-links img {
        filter: invert(100%);
}
.side-links span {
        display: none;
}
.side-links a {
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-decoration: none;
        width: 100%;
        color: #fff;
        align-items: center;
}
.users-bar {
        margin: auto;
}
.side-links a.active {
        color: #555;
        background: var(--bg-color);
        border-radius: 20px 0 0 20px;
}
.side-links a.active img {
        filter: invert(40%);
}
@media (min-width: 435px) {
        .welcome .avatar {
                width: 57%;
        }
}
@media (min-width: 768px) {
        .side-links span {
                display: block;
        }
        .welcome .avatar {
                width: 35%;
        }
}

@media (min-width: 768px) {
        .welcome {
                display: flex;
                align-content: center;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                font-weight: bold;
                letter-spacing: 1px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
}
