.avatar {
        display: inline-block;
        max-width: 100px;
        min-width: 30px;
        margin-right: 5px;
        /* overflow: hidden; */
}
.avatar img {
        width: 100%;
        border-radius: 50%;
}
