.from-up {
        display: grid;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 15px;
        box-shadow: 3px 3px 5px rgb(0 0 0 / 5%);
        background: #fff;
        justify-items: stretch;
        justify-content: space-around;
}
.from-up .btn {
        margin: auto;
}
