.from-up {
        display: grid;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 15px;
        box-shadow: 3px 3px 5px rgb(0 0 0 / 5%);
        background: #fff;
        align-items: center;
        align-content: stretch;
}
.from-up .btn {
        margin: 1.5rem auto;
}
.from-up label {
        margin-top: 1rem;
}

@media (min-width: 668px) {
        .from-up {
                max-width: 60%;
                margin: auto;
        }
}

@media (min-width: 1024px) {
        .from-up {
                max-width: 40%;
        }
}
