.App-2cols {
        display: grid;
        grid-template-columns: 1fr 5fr;
        height: 100%;
        max-width: 100%;
}
.App-1col {
        display: grid;
        grid-template-columns: auto;
        height: 100%;
        max-width: 100%;
}
.container {
        display: grid;
        grid-template-rows: 10% 1fr 10%;
}

/* .main {
        display: grid;
        grid-template-columns: 60%;
        padding: 1rem;
        justify-content: space-around;
        padding: 20px;
}

@media (min-width: 768px) {
        .main {
                grid-template-columns: 1fr;
        }
} */

@media (min-width: 768px) {
        .App-2cols {
                grid-template-columns: 15% 1fr;
        }
}
