.comments {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
}
.comments-list {
        overflow: auto;
        max-height: 60%;
}
.comments h2 {
        margin-bottom: 10px;
}
.comments-form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
}
.comments-form label {
        max-width: 80%;
}
.comments-form .btn {
        height: 38px;
        margin-top: 20px;
}
.comment {
        padding: 5px;
        background: #fff;
        margin: 10px 5px;
        margin-right: 10px;
        border-bottom: 1px solid gray;
        border-radius: 20px;
}
.comment-body {
        margin-left: 55px;
}
.comment-owner {
        display: flex;
        align-items: center;
}
.comment-date {
        font-size: 0.6rem;
        color: gray;
        font-weight: transparent;
}
.comment-owner .avatar {
        max-width: 50px;
}

@media (min-width: 1053px) {
        .comments-form {
                margin-top: auto;
                display: flex;
                align-items: flex-end;
                flex-direction: row;
        }
        .comments-form .btn {
                height: 38px;
                margin: 0 auto;
                margin-top: 0;
        }
}
