.comments {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
}
.comments-list {
        overflow: scroll;
}
.comments h2 {
        margin-bottom: 10px;
}
.comments-form {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        align-items: flex-end;
}
.comments-form .btn {
        height: 38.8px;
}
.comment {
        padding: 5px;
        background: #fff;
        border-bottom: 1px solid gray;
        border-radius: 20px;
}
.comment-body {
        margin-left: 55px;
}
.comment-owner {
        display: flex;
        align-items: center;
}
.comment-date {
        font-size: 0.6rem;
        color: gray;
        font-weight: transparent;
}
.comment-owner .avatar {
        max-width: 50px;
}
